<h1 id="page-title">About Me</h1>
<div class="container text-left">
  <div class="row">
    <div class="content about">
      <div class="col-md-3 photo">
        <%= image_tag('pray.png', size: "200x200") %>
      </div>
      <div class="col-md-9">
        <p>I have been learning and experimenting with Ruby and Rails since June 2015.  I studied online with a great mentor from <a href="https://bloc.io">Bloc</a>.  I had no experience in programming and now a new creative world has been opened up to me!  I am very excited about this new life changing endeavour and hope to keep honing and advancing my skills by learning more about front-end and UX/UI design.</p>
        <p>When I’m not programming I enjoy being with my family and friends, knitting, or trying to give back to the community.</p>
      </div>
    </div>
  </div>
</div>
