<div>
  <div>
    <h2>About</h2>
    <hr>
    <p>this is all about me!</p>
    <p>more info about me!</p>
    <p>I'm learning to code with Mackenzie at <a href="#">Unicasts</a>.</p>
  </div>
  <div>
    <h2>Blog</h2>
    <hr>
    <% @posts.each do |post| %>
    <h3><a href="#"><%= link_to post.title, post %></a></h3>
    <p><%= post.created_at.strftime("%A, %b, %d") %></p>
    <% end %>

  </div>
  <div>
    <h2>My Projects</h2>
    <hr>
    <% @projects.each do |project| %>
    <h3><a href="#"><%= link_to project.title, project %></a></h3>
    <p><%= project.created_at.strftime("%A, %b, %d") %></p>
    <% end %>
  </div>

</div>
