<div class="container">
  <div class="row text-center">
    <h1 id="thank-you">Thank You!</h1>
    <div>
      <h2>Thank you for your message!</h2>
      <p>I'll get back to you as soon as possible!</p>
    </div>
  </div>
</div>
