<h1>My Projects</h1>
<div>
  <% @projects.each do |project| %>
    <div>
      <h2><a href="#"><%= link_to project.title, project %></a></h2>
      <p><%= project.created_at.strftime("%A, %b, %d") %></p>
      <hr>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div>
      <%= link_to "New", new_project_path(@project) %>
    </div>
  <% end %>
</div>
