<div class="container text-center">
  <div class="row">
  <h1>Blog</h1>
  <div class="content">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <h2><a href="#"><%= link_to post.title, post %></a></h2>
        <p><%= post.created_at.strftime("%A, %b, %d") %></p>
        <hr>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <div>
        <%= link_to "New", new_post_path(@post) %>
      </div>
    <% end %>
  </div>
  <%= will_paginate @posts %>
    <!-- <div class="pagination">
      <span class="previous_page disabled">Previous</span>
      <em class="current">1</em>
      <a rel="next" href="#">2</a>
      <a class="next_page" href="#">Next</a>
    </div> -->
  </div>
</div>
